[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "loglint"
version = "0.1.0"
dependencies = [
  "numpy",
  "pandas",
  "python-dateutil",
  "pytz",
  "tzdata",
]

[tool.setuptools.packages.find]
where = ["src"]
